.background {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* You can adjust the border color and opacity */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* header.css */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header-title img {
    height: 3rem;
    margin-right: 0.5rem;
}

.header-title p {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links li {
    margin-right: 1rem;
}

.header-links li:last-child {
    margin-right: 0;
}

/* header.css */

.header-links li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-links li a:hover {
    color: #3b82f6;
}

.header-links li button {
    background-color: #3b82f6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-links li button:hover {
    background-color: #2563eb;
}